{%extends "layout.html"%}
{% set active_page = "Home" %}
{%block title%}{%endblock%}
{%block content%}
<h1>Choose a Room</h1>
<br></br>
<form action="/Chat1">
<button type="submit" class="btn btn-outline-success btn-lg">Chat Room 1</button>
</form>
  
<form action="/Chat2">
<button type="submit" class="btn btn-outline-success btn-lg">Chat Room 2</button>
</form>
  
<form action="/Chat3">
<button type="submit" class="btn btn-outline-success btn-lg">Chat Room 3</button>
</form>
  
<form action="/Chat4">
<button type="submit" class="btn btn-outline-success btn-lg">Chat Room 4</button>
</form>
  
{%endblock%}
