{%extends "layout.html"%}
{% set active_page = "Home" %}
{%block title%}Home{%endblock%}
{%block content%}
<h1>Choose a Room</h1>
<br></br>
<form action="/Chat1" method="POST">
<button type="submit" class="btn btn-outline-success btn-lg">Chat Room 1</button>

<form action="/Chat2" method="POST">
<button type="submit" class="btn btn-outline-success btn-lg">Chat Room 2</button>

<form action="/Chat3" method="POST">
<button type="submit" class="btn btn-outline-success btn-lg">Chat Room 3</button>

<form action="/Chat4" method="POST">
<button type="submit" class="btn btn-outline-success btn-lg">Chat Room 4</button>
{%endblock%}
